@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Marisa";
  src: url("/fonts/Marisa/Marisa-Light.otf");
  font-style: light;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Marisa";
  src: url("/fonts/Marisa/Marisa.otf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Marisa";
  src: url("/fonts/Marisa/Marisa-Medium.otf");
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Marisa";
  src: url("/fonts/Marisa/Marisa-Bold.otf");
  font-style: bold;
  font-weight: 600;
  font-display: swap;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  background-color: #231f20;
  color: #fefffe;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

h1, h2, h3 {
  font-family: 'Marisa', cursive;
}

h1 {
  font-size: 44px;
}

h2 {
  font-size: calc(28px + (32 - 20) * ((100vw - 300px) / (1600 - 300))) !important;
}

h3 {
  font-size: calc(20px + (32 - 20) * ((100vw - 300px) / (1600 - 300))) !important;
}

.nav a {
  background: linear-gradient(to right, #b59d5f, #b59d5f 50%, #fefffe 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}

.nav a:hover {
  background-position: 0 100%;
}

a {
  display: inline-block;
}

iframe {
  min-height: 700px;
}

p {
  margin-bottom: 12px;
}

.parallax {
  background-image: url("../public/images/hero.jpeg");
  min-height: 400px;
}

.caption {
  position: absolute;
  bottom: 35px;
}

.slideIn {
    opacity: 1 !important;
    transform: translate(0,0) !important;
}
.preSlide {
    opacity: 0;
    transform: translate(0%,30%);
    transition-property: transform,opacity;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(-10px);
  }
}

[data-reach-accordion-item] {
  margin-bottom: 16px;
}

[data-reach-accordion-panel],
[data-reach-accordion-panel] {
  padding: 15px 0 0;
}

[data-reach-accordion-button][data-state="open"] {
  color:#b59d5f !important;
}

@media (prefers-reduced-motion: no-preference) {
  [data-reach-accordion-panel],
  [data-reach-accordion-panel],
  .slide-down {
    animation: slide-down 0.8s ease;
  }
  [data-reach-accordion-panel][data-state="collapsed"] {
  /* styles for all collapsed accordion panels */
  animation: slide-up 0.8s ease;
  }
}